[submodule "content/themes/casper"]
	path = content/themes/casper
	url = ../../TryGhost/Casper.git
[submodule "core/client"]
	path = core/client
	url = ../../TryGhost/Ghost-Admin.git
[submodule "content/themes/Bus-Rides-Ghost-Theme"]
	path = content/themes/Bus-Rides-Ghost-Theme
	url = https://github.com/DIS-SIN/Bus-Rides-Ghost-Theme
